html,body{
  background-color: #E4E9FD !important;
  background-image: -webkit-linear-gradient(65deg, #123C69 50%, #AC3B61 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #05386B;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  background-color: #EDC7B7 !important;

}

#heading {
  background-color: #EDC7B7 !important;
  text-align: center;
}

.item  {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #123C69 !important;
  background-color: #EDC7B7 !important;
  text-align: center;
  color: #8D8741;
  border-color: #BC986A ;
}

.item:last-child {
  border-bottom: 0;
  border-color: black ;
  border-color: black ;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #05386B;
  border-color: black ;
}

input[type="checkbox"] {
  margin: 20px;
}



p {
  color: #05386B;
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

form.item{
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #D9B08C;
  color: #05386B;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  color: #05386B;
  font-weight: bold ;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #05386B;
}

::placeholder {
  background-color: #D9B08C ;
  color: #05386B;
  opacity: 1;
}

footer {
  color: #EDC7B7;
  text-align: center;
}
